<p id="notice"><%= notice %></p>
<div class="container">
  

<h1>Entry Types</h1>

<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col" >Account Type</th>
      <th scope="col" >Contra Accounth</th>>
        
    </tr>
  </thead>

  <tbody>
    <% @entry_types.each do |entry_type| %>
      <tr>
        <td><%= entry_type.name %></td>
        <td><%= entry_type.type %></td>
        <td><%= entry_type.contra %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry Type', entry_types_new_path, class: "btn btn-default"%>
</div>