  
<div class= 'container'>
  <div class ='div class="col-md-10 well'> 
        
     
        <%= form_for @expense do |form| %>

              <form>
          
           
                <div class="form-inline " id='form-on-main-page'>
                  
                  <div class='form-group'>
                    <%= form.label :Date, id: :Date%>
                    <div class='input-group date' id='datepicker'>
                      <%= form.text_field :Date, class: "form-control"%>
                      <span class=  "input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <%= form.label 'Account: ' %>
                    <%= form.collection_select(:AccountName, Category.all, :name, :name,{prompt: true},  {:class => 'form-control'}) %>
              
                   </div>
                  <div class="form-group">
                    <%= form.label 'Description: '  %>
                    <%= form.text_field :Description, id: :description, class: "form-control" %>
                  </div>
                  <div class="form-group">
                    <%= form.label 'Amount: ' %>
                    <%= form.text_field :amount, id: :amount, class: "form-control" %>
                  </div>
                  <div class='form-group'>
                    <%= form.submit :Submit, class: 'btn btn-success'%>
                  </div>
                </div>
              

        </form>
        <% end %>
      </div>
    
</div> 
