


<div class='container'>
<div class="row">

	<div class="col-md-4-4">
		<div class="paged-header">
			<h1>Expenses
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<%= render 'form', expense: @expense %>
	<% if @expenses.nil? || (!@expenses.nil? && @expenses.empty?)%>
	<p message=" Empty, Enter expenses.">
	</p>
	<% else%>
		<table class="table table-striped table-bordered table-hover" id="expenseTable">
			<thead>
				<tr>
					<th>Line</th>
					<th>Date</th>
					<th>Accountname</th>
					<th>Description</th>
					<th>Cost</th>
					<th colspan="3">
					</th>
				</tr>
			</thead>
			<tbody class="table-hover">
				<% @expenses.each do |expense|%>
				<tr>
					<td><%= expense.line %>
					</td><td><%= expense.Date%>
				</td>
				<td><%= expense.AccountName%>
				</td>
				<td><%= expense.Description%>
				</td>
				<td><%= expense.Expense%>
				</td>
				<td><%= link_to 'Show', expense%>
				</td>
				<td><%= link_to 'Edit', edit_expense_path(expense)%>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
	</div>
<% end %>


</div>
</div>