<div class='main-navigation'>

	<div class="container-fluid ">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" data-target="#navbar2" data-toggle="collapse" type="button">
					<span class="icon-bar">
					</span><span class="icon-bar">
					</span>
					<span class="icon-bar">
					</span>
					</button>
				</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-left">
					<li>
						<%=link_to_in_li 'Home', static_pages_Welcome_path, class: 'nav-link'%>
					</li>
					<li>
						<%=link_to_in_li 'About', static_pages_About_path, class: 'nav-link'%>
					</li>
					<li>
						<%= link_to_in_li 'Contact', static_pages_Contact_url,   class: 'nav-link' %>

					</li>
				</ul>
				
					<ul class="nav navbar-nav navbar-right ">

						
							<% if user_signed_in?%>
								<li>
									<%= link_to_in_li 'Cashflows', cashflows_path,   class: 'nav-link' %>
								</li>

								<li>
									<%= link_to_in_li 'Dashboard', dashboard_path,   class: 'nav-link' %>
								</li>
							<%end%>
						
							
						<% if user_signed_in?%>

							<li role="presentation" class="dropdown">
								
								
								<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
									<%=current_user.email%> <span class="caret"></span>
								</a>
								
								
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
									<li><%= link_to_in_li('Sign Out', destroy_user_session_path, method: :delete) %> ></li>
									<li><a href="#">Another action</a></li>
								</ul>

								
							</li>
						<%end%>

					</ul>
				</div>
			</div><!--container-fluid-->
		
		
		</nav>
	</div><!--/.container-fluid-->
</div><!--main-navigation-->