<!DOCTYPE html>
<html>
	<head>
		<meta text/html; charset="UTF-8"> 
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title>
			Cash Flosum
		</title>
		
		<%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>;
		<%= javascript_pack_tag 'application' %>
		<%= javascript_include_tag 'application'%>
		<%= stylesheet_link_tag 'application', media: 'all'%>
		
		<%= csrf_meta_tags %>
		<script src="/application.js" data-turbolinks-track="reload"></script>
		
		<link rel="stylesheet" href="/application.scss" data-turbolinks-track="reload">
		
		
		

		<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css" data-turbolinks-track="reload">
  
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js" data-turbolinks-track="reload"></script>

		
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>	
		
			<!-- Place this tag in your head or just before your close body tag. 
			<script async defer src="https://buttons.github.io/buttons.js"></script> -->

		
	</head>

	<header>	
		<%= render 'layouts/navigation' %>
		<%= render 'layouts/messages'%>
	</header>
	
	<body>
		
		
		
	
		

		<div class = 'container-fluid'>
			<%= yield %>
			
		</div>
		
				
	</body>
	<foot>
		<%=render 'layouts/footer'%>
	</foot>

</html>



