<!DOCTYPE html>
<html>
	<head>
		<meta text/html; charset="UTF-8"> 
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title>
			Cash Flosum
		</title>
		

		<%= stylesheet_link_tag 'application', media: 'all'%>
		<%= csrf_meta_tags %>
		
		<%= javascript_include_tag 'application'%>
		<%= javascript_include_tag *webpack_asset_paths("application") %>

		<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css" data-turbolinks-track="reload">
  
		<!--<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js" data-turbolinks-track="reload"></script>-->

		
			<!--<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>	-->
		
			<!-- Place this tag in your head or just before your close body tag. -->
			<!--<script async defer src="https://buttons.github.io/buttons.js"></script> -->

		
	</head>

	<header>	
		<%= render 'layouts/navigation' %>
	</header>
	
	<body>
		
		
		<%= render 'layouts/messages'%>
	
		

		<div class = 'container-fluid'>
			<%= yield %>
			
		</div>
		
				
	</body>
	<foot>
		<%=render 'layouts/footer'%>
	</foot>

</html>



